<mat-card-title>
    Login
</mat-card-title>
<mat-card-content>
    <p>Please sign in using a World Anvil API Token</p>
    <mat-form-field>
        <mat-label>API Token</mat-label>
        <input matInput type="text" [(ngModel)]="authService.authToken">
        <button mat-raised-button matSuffix color="primary" [disabled]="!authService.authToken" (click)="authenticate()">Login</button>       
    </mat-form-field>
    <mat-card-footer>
        <p class="help">
            <b>Where do I get an API Key?</b><br>
            <b>1. </b>Log into Worldanvil<br>
            <b>2. </b>Head over to <a href="https://www.worldanvil.com/api/auth/key">https://www.worldanvil.com/api/auth/key</a><br>
            <b>3. </b>Add a Title to the "Nickname/Title" field and click "Create new Key"<br>
            <b>4. </b>Paste the generated Key into the field above and click "Login"<br>
            <br>                       
        </p>        
        <div class="apikey-image" [class.big]="bigimage" (click)="bigimage = !bigimage" ><img  src="/assets/apikey.png"></div> 
    </mat-card-footer>
</mat-card-content>