.help
    text-align: left
    font-size: 0.75em
    color: gray
    padding: 0

.apikey-image
    &.big
        position: fixed
        top: 0
        bottom: 0
        left: 0
        right: 0
    img
        max-width: 100%
        cursor: pointer

.mat-card-footer, .version-info
    margin-top: 15px

.mat-form-field
    width: 100%