<mat-card>
  <mat-card-title>Options</mat-card-title>
  <mat-card-content *ngIf="config">
    <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedTab" dynamicHeight>
      <mat-tab label="General">
        <h3>General Settings</h3>
        <div>
          <mat-slide-toggle [(ngModel)]="config.showTags" (change)="this.config$.next(this.config)">
            Display Tags
          </mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle [(ngModel)]="config.nodes.displayNodesWithNoLinks" (change)="this.config$.next(this.config)">
            Display Nodes with no links
          </mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle [(ngModel)]="config.nodes.displayDrafts" (change)="this.config$.next(this.config)">
            Display Drafts
          </mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle [(ngModel)]="config.nodes.displayWip" (change)="this.config$.next(this.config)">
            Display Wip articles
          </mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle [(ngModel)]="config.nodes.displayPrivate" (change)="this.config$.next(this.config)">
            Display private articles
          </mat-slide-toggle>
        </div>
        <mat-divider></mat-divider>
        <h3>Visuals</h3>
        <div class="slider-list">
          <div>
            <mat-slider min="0" max="1" step="0.01" value="0.75" thumbLabel [(ngModel)]="config.visuals.nodeRelSize" (ngModelChange)="this.config$.next(this.config)"></mat-slider>
            <span> Node Size</span>
          </div>
          <div>
            <mat-slider min="0" max="1" step="0.01" value="0.6" thumbLabel [(ngModel)]="config.visuals.nodeOpacity" (ngModelChange)="this.config$.next(this.config)"></mat-slider>
            <span> Node Opacity</span>
          </div>
          <div>
            <mat-slider min="0" max="1" step="0.01" value="0.7" thumbLabel [(ngModel)]="config.visuals.linkOpacity" (ngModelChange)="this.config$.next(this.config)"></mat-slider>
            <span> Link Opacity</span>
          </div>
          <mat-form-field>
            <mat-label>Font size</mat-label>
            <input matNativeControl type="number" [(ngModel)]="config.visuals.textHeight" (ngModelChange)="this.config$.next(this.config)">            
          </mat-form-field>
        </div>
        
       
      </mat-tab>
      <mat-tab label="Articles">
        <div>
          <mat-form-field>
            <mat-label>Node Coloring</mat-label>
            <mat-select [(ngModel)]="config.nodes.colorScheme" (ngModelChange)="this.config$.next(this.config)">
              <mat-option [value]="NodeColorScheme.GROUP">Type</mat-option>
              <mat-option [value]="NodeColorScheme.CLUSTER">Cluster</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <mat-list dense>
          <mat-list-item *ngFor="let key of keys(config.nodes.typeVisibility || {}).sort()">
              <mat-button-toggle-group #group [name]="key" [(ngModel)]="config.nodes.typeVisibility[key]" (ngModelChange)="this.config$.next(this.config)">
                  <mat-button-toggle [value]="Visibility.OFF">Off</mat-button-toggle>
                  <mat-button-toggle [value]="Visibility.HIDDEN">Hidden</mat-button-toggle>
                  <mat-button-toggle [value]="Visibility.ON">On</mat-button-toggle>
                </mat-button-toggle-group>
                <span style="padding-left: 5px">{{key}}</span>
          </mat-list-item>
        </mat-list>

      </mat-tab>
      <mat-tab label="Links">
        <div>
          <mat-form-field>
            <mat-label>Link Coloring</mat-label>
            <mat-select [(ngModel)]="config.links.colorScheme" (ngModelChange)="this.config$.next(this.config)">
              <mat-option [value]="LinkColorScheme.GROUP">Type</mat-option>
              <mat-option [value]="LinkColorScheme.SOURCE">Source</mat-option>
              <mat-option [value]="LinkColorScheme.TARGET">Target</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-divider></mat-divider>
        <mat-list dense>
          <mat-list-item *ngFor="let key of keys(config.links.typeVisibility || {}).sort()">
              <mat-button-toggle-group #group [name]="key" [(ngModel)]="config.links.typeVisibility[key]" (ngModelChange)="this.config$.next(this.config)">
                  <mat-button-toggle [value]="Visibility.OFF">Off</mat-button-toggle>
                  <mat-button-toggle [value]="Visibility.HIDDEN">Hidden</mat-button-toggle>
                  <mat-button-toggle [value]="Visibility.ON">On</mat-button-toggle>
                </mat-button-toggle-group>
                <span style="padding-left: 5px">{{key}}</span>
          </mat-list-item>
        </mat-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
