<mat-card>
  <mat-card-title>Options</mat-card-title>
  <mat-card-content *ngIf="preset">
    <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedTab" dynamicHeight>
      <mat-tab label="General">
        <h3>General Settings</h3>
        <div class="row">
          <div class="column">
            <mat-slide-toggle [(ngModel)]="preset.config.showTags" (change)="emitConfigChanged()">
              Display Tags
            </mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="preset.config.nodes.displayNodesWithNoLinks" (change)="emitConfigChanged()">
              Display Nodes with no links
            </mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="preset.config.nodes.displayDrafts" (change)="emitConfigChanged()">
              Display Drafts
            </mat-slide-toggle>
          </div>      
          <div class="column">
            <mat-slide-toggle [(ngModel)]="preset.config.nodes.displayWip" (change)="emitConfigChanged()">
              Display Wip articles
            </mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="preset.config.nodes.displayPrivate" (change)="emitConfigChanged()">
              Display private articles
            </mat-slide-toggle>
          </div>
        </div>       
        <mat-divider [inset]="true"></mat-divider>
        <h3>Visuals</h3>
        <div class="row margin-top">
          <div class="column">
            <div>
              <mat-slider min="0" max="1" step="0.01" value="0.75" thumbLabel [(ngModel)]="preset.config.visuals.nodeRelSize" (ngModelChange)="emitConfigChanged()"></mat-slider>
              <span> Node Size</span>
            </div>
            <div>
              <mat-slider min="0" max="1" step="0.01" value="0.6" thumbLabel [(ngModel)]="preset.config.visuals.nodeOpacity" (ngModelChange)="emitConfigChanged()"></mat-slider>
              <span> Node Opacity</span>
            </div>
          </div>
          <div class="column">
            <div>
              <mat-slider min="0" max="1" step="0.01" value="0.7" thumbLabel [(ngModel)]="preset.config.visuals.linkOpacity" (ngModelChange)="emitConfigChanged()"></mat-slider>
              <span> Link Opacity</span>
            </div>
            <mat-form-field>
              <mat-label>Font size</mat-label>
              <input matNativeControl type="number" [(ngModel)]="preset.config.visuals.textHeight" (ngModelChange)="emitConfigChanged()">            
            </mat-form-field>
          </div>          
        </div>
      </mat-tab>
      <mat-tab label="Articles">
        <div>
          <h3>General Article Options</h3>
          <mat-form-field>
            <mat-label>Node Coloring</mat-label>
            <mat-select [(ngModel)]="preset.config.nodes.colorScheme" (ngModelChange)="emitConfigChanged()">
              <mat-option [value]="NodeColorScheme.GROUP">Type</mat-option>
              <mat-option [value]="NodeColorScheme.CLUSTER">Cluster</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h3>Article Types</h3>
        <div class="explanation">
          <p>You can toggle the state of various article types below.</p>
          <p><b>ON: </b> The article will be visible and influence the generation of the graph</p>
          <p><b>HIDDEN: </b> The article won't be visible, but influence the generation of the graph</p>
          <p><b>OFF: </b> The article won't be visible and won't influence the generation of the graph</p>
        </div>
        <div class="row">
          <div class="column">
            <mat-list dense>
              <mat-list-item *ngFor="let key of keys(preset.config.nodes.typeVisibility || {}, true)">
                  <mat-button-toggle-group #group [name]="key" [(ngModel)]="preset.config.nodes.typeVisibility[key]" (ngModelChange)="emitConfigChanged()">
                      <mat-button-toggle [value]="ElementVisibility.OFF">Off</mat-button-toggle>
                      <mat-button-toggle [value]="ElementVisibility.HIDDEN">Hidden</mat-button-toggle>
                      <mat-button-toggle [value]="ElementVisibility.ON">On</mat-button-toggle>
                    </mat-button-toggle-group>
                    <span style="padding-left: 5px">{{key}}</span>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="column">
            <mat-list dense>
              <mat-list-item *ngFor="let key of keys(preset.config.nodes.typeVisibility || {}, false)">
                  <mat-button-toggle-group #group [name]="key" [(ngModel)]="preset.config.nodes.typeVisibility[key]" (ngModelChange)="emitConfigChanged()">
                      <mat-button-toggle [value]="ElementVisibility.OFF">Off</mat-button-toggle>
                      <mat-button-toggle [value]="ElementVisibility.HIDDEN">Hidden</mat-button-toggle>
                      <mat-button-toggle [value]="ElementVisibility.ON">On</mat-button-toggle>
                    </mat-button-toggle-group>
                    <span style="padding-left: 5px">{{key}}</span>
              </mat-list-item>
            </mat-list>
          </div>
        </div>       

      </mat-tab>
      <mat-tab label="Links">
        <div>
          <h3>General Link Options</h3>
          <mat-form-field>
            <mat-label>Link Coloring</mat-label>
            <mat-select [(ngModel)]="preset.config.links.colorScheme" (ngModelChange)="emitConfigChanged()">
              <mat-option [value]="LinkColorScheme.GROUP">Type</mat-option>
              <mat-option [value]="LinkColorScheme.SOURCE">Source</mat-option>
              <mat-option [value]="LinkColorScheme.TARGET">Target</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-divider></mat-divider>
          <h3>Link Types</h3>
          <div class="explanation">
            <p>You can toggle the state of various link types below.</p>
            <p><b>ON: </b> The link will be visible and influence the generation of the graph</p>
            <p><b>HIDDEN: </b> The link won't be visible, but influence the generation of the graph</p>
            <p><b>OFF: </b> The link won't be visible and won't influence the generation of the graph</p>
          </div>
        <div class="row">
          <div class="column">
            <mat-list dense>
              <mat-list-item *ngFor="let key of keys(preset.config.links.typeVisibility || {}, true)">
                  <mat-button-toggle-group #group [name]="key" [(ngModel)]="preset.config.links.typeVisibility[key]" (ngModelChange)="emitConfigChanged()">
                      <mat-button-toggle [value]="ElementVisibility.OFF">Off</mat-button-toggle>
                      <mat-button-toggle [value]="ElementVisibility.HIDDEN">Hidden</mat-button-toggle>
                      <mat-button-toggle [value]="ElementVisibility.ON">On</mat-button-toggle>
                    </mat-button-toggle-group>
                    <span style="padding-left: 5px">{{key}}</span>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="column">
            <mat-list dense>
              <mat-list-item *ngFor="let key of keys(preset.config.links.typeVisibility || {}, false)">
                  <mat-button-toggle-group #group [name]="key" [(ngModel)]="preset.config.links.typeVisibility[key]" (ngModelChange)="emitConfigChanged()">
                      <mat-button-toggle [value]="ElementVisibility.OFF">Off</mat-button-toggle>
                      <mat-button-toggle [value]="ElementVisibility.HIDDEN">Hidden</mat-button-toggle>
                      <mat-button-toggle [value]="ElementVisibility.ON">On</mat-button-toggle>
                    </mat-button-toggle-group>
                    <span style="padding-left: 5px">{{key}}</span>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        
        </div>
      </mat-tab>
      <mat-tab label="Save / Share">
        <mat-form-field>
          <mat-label>Preset Name</mat-label>
          <input matNativeControl [(ngModel)]="preset.name">            
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matNativeControl [(ngModel)]="preset.description">            
        </mat-form-field>
        <div>{{preset.id}}</div>
        <mat-slide-toggle [(ngModel)]="preset.config.share.displayNodeLegend">
          Display Node Legend
        </mat-slide-toggle>
        <button mat-raised-button color="primary" (click)="savePreset()">Save</button>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
