
<div class="presets">
    <mat-table *ngIf="presets$ | async as userPresets" [dataSource]="userPresets" class="mat-elevation-z8" matSort>            
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="owner">
            <mat-header-cell class="public" *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell class="public" *matCellDef="let element">
                <mat-icon *ngIf="element.owner === 'global'" matTooltip="Global Preset">public</mat-icon>
                <mat-icon *ngIf="element.owner !== 'global'" matTooltip="My Preset">lock</mat-icon>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell class="actions" *matHeaderCellDef></mat-header-cell>
            <mat-cell class="actions" *matCellDef="let element">
                <ng-container *ngTemplateOutlet="actionsTemplate?.template; context:{element:element}"></ng-container>                
                <button mat-icon-button color="primary" matTooltip="Launch Preset" (click)="selected(element)"><mat-icon>launch</mat-icon></button>                    
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>        
</div>