<h1 mat-dialog-title *ngIf="!data.world && !data.preset">World and Preset Selection</h1>
<h1 mat-dialog-title *ngIf="!data.world && data.preset">World Selection</h1>
<h1 mat-dialog-title *ngIf="data.world && !data.preset">Preset Selection</h1>
<div mat-dialog-content>
    <div class="text-center">
        <span *ngIf="data.world"><b>Selected World: </b>{{data.world.name}}</span>
        <span *ngIf="data.preset"><b>Selected Preset: </b>{{data.preset.name}}</span>
    </div>
    <div *ngIf="!data.world">
        <app-world-selection [worlds$]="worlds$" (select)="selectWorld($event)"></app-world-selection>
    </div>
    <mat-divider></mat-divider>    
    <div *ngIf="!data.preset">
        <app-preset-selection [presets$]="presets$" (select)="selectPreset($event)"></app-preset-selection>        
    </div>
</div>