<div id="wrapper">
    <div #graph></div>
    <div id="sidebar">
        <mat-form-field class="searchbar" appearance="fill">
            <mat-label>Search Articles</mat-label>
            <input type="text" matInput [formControl]="searchField" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="searchBarDisplay" (optionSelected)="focusNode($event.option.value)">
              <mat-option *ngFor="let option of searchFilteredNodes | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        <mat-list class="button-list">    
          <mat-list-item (click)="displayNodeLegend = !displayNodeLegend" [class.active]="displayNodeLegend">
            <mat-icon matTooltip="Toggle Article Legend">description</mat-icon>
          </mat-list-item>      
          <mat-list-item (click)="displayLinkLegend = !displayLinkLegend" [class.active]="displayLinkLegend">
            <mat-icon matTooltip="Toggle Link Legend">link</mat-icon>
          </mat-list-item>      
          <mat-list-item (click)="highlightStubs()">
            <mat-icon matTooltip="Highlight Stubs">construction</mat-icon>
          </mat-list-item>     
          <ng-container *ngTemplateOutlet="sidebarTemplate.template"></ng-container>
        </mat-list>        
    </div>
    <div id="legend" *ngIf="displayNodeLegend || displayLinkLegend">
      <div class="text-center"><i>Click on an element in the legend to highlight them in the graph</i></div>
      <div class="articles legend-list" *ngIf="displayNodeLegend">        
        <span class="legend-list-element" *ngFor="let color of nodeColors | keyvalue" (click)="focusNodeType(color.key)"><span class="color-box" [style.background]="color.value.hex()"></span>{{color.key}}</span>
      </div>
      <div class="links legend-list" *ngIf="displayLinkLegend">        
        <span class="legend-list-element" *ngFor="let color of linkColors | keyvalue" (click)="focusLinkType(color.key)"><span class="color-box" [style.background]="color.value.hex()"></span>{{color.key}}</span>
      </div>
    </div>
    <div id="highlight-notice" *ngIf="nodesHiglighted || linksHighlighted">Press ESC to stop highlighting parts of the graph</div>
</div>