<div class="row">
    <h1>Your Worlds</h1>
    <div *ngIf="worlds$ | async as worlds" class="world-list">
        <div *ngFor="let world of worlds.worlds" class="world">
            <h2>{{world.name}}</h2>
            <div>
                <button mat-icon-button color="primary" matTooltip="Show Graph" (click)="openSelection(world, null)"><mat-icon>launch</mat-icon></button>     
            </div>
        </div>
    </div>
</div>

<div class="preset-shared-list">
    <div class="row">
        <h1>Your Presets</h1>
        <app-preset-selection (select)="openSelection(null, $event)" [presets$]="presets$">
            <ng-template let-element="element" appSelectionActions>
                <button 
                        mat-icon-button 
                        color="warn" 
                        matTooltip="Delete"
                        (click)="deletionPresetSelected = element.id"
                        *ngIf="element.owner !== 'global' && deletionPresetSelected !== element.id">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button 
                        mat-icon-button 
                        color="warn" 
                        matTooltip="Confirm Deletion"
                        (click)="deletePreset(element)"
                        *ngIf="element.owner !== 'global' && deletionPresetSelected === element.id">
                        <mat-icon>check</mat-icon>
                    </button>
                    <button 
                        mat-icon-button 
                        matTooltip="Abort Deletion"
                        (click)="deletionPresetSelected = null"
                        *ngIf="element.owner !== 'global' && deletionPresetSelected === element.id">
                        <mat-icon>close</mat-icon>
                    </button>
            </ng-template>
        </app-preset-selection>   
    </div>
    <div class="row">
        <h1>Shared Graphs</h1>        
        <div style="text-align: center;">
            <h2>Coming Soon!</h2>
            <h4>In the future you will be able to create sharable Graphs from here.</h4>
            <h4>In the meantime check out the presets above or the <a routerLink="/explore">explore</a> feature</h4>
        </div>
    </div>
</div>
